section(class="section cards-list container")
  div.card
    div.card__content
      div.card__info
        span.card__step Step 1
        h2.card__title Connect Google calendar
        p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      div.card__image
        picture
          source(
            srcset="assets/images/screens/step-1.webp"
            type="image/webp"
          )
          source(
            srcset="assets/images/screens/step-1.png"
            type="image/png"
          )
          img(
            class="card__img"
            src="assets/images/screens/step-1.png"
            alt="Step 2"
            draggable="false"
            loading="lazy"
            width="1668"
            height="1200"
          )

  div.card.card--top-space
    div.card__content
      div.card__info
        span.card__step Step 2
        h2.card__title Aghhh will analyze upcoming meetings
        p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      div.card__image
        picture
          source(
            srcset="assets/images/screens/step-2.webp"
            type="image/webp"
          )
          source(
            srcset="assets/images/screens/step-2.png"
            type="image/png"
          )
          img(
            class="card__img"
            src="assets/images/screens/step-2.png"
            alt="Step 2"
            draggable="false"
            loading="lazy"
            width="557"
            height="369"
          )

  div.card.card--top-space
    div.card__content
      div.card__info
        span.card__step Step 3
        h2.card__title Aghhh defines an unanswered meeting
        p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      div.card__image
        picture
          source(
            srcset="assets/images/screens/step-3.webp"
            type="image/webp"
          )
          source(
            srcset="assets/images/screens/step-3.png"
            type="image/png"
          )
          img(
            class="card__img"
            src="assets/images/screens/step-3.png"
            alt="Step 3"
            draggable="false"
            loading="lazy"
            width="557"
            height="369"
          )

  div.card.card--top-space
    div.card__content
      div.card__info
        span.card__step Step 4
        h2.card__title Aghhh automatically send a mail to Josh
        p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      div.card__image
        picture
          source(
            srcset="assets/images/screens/step-4.webp"
            type="image/webp"
          )
          source(
            srcset="assets/images/screens/step-4.png"
            type="image/png"
          )
          img(
            class="card__img"
            src="assets/images/screens/step-4.png"
            alt="Step 4"
            draggable="false"
            loading="lazy"
            width="557"
            height="369"
          )

  div.card
    div.card__content
      div.card__info
        span.card__step Step 5
        h2.card__title Lorem Ipsum
        p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      div.card__image
        picture
          source(
            srcset="assets/images/screens/step-5.webp"
            type="image/webp"
          )
          source(
            srcset="assets/images/screens/step-5.jpg"
            type="image/png"
          )
          img(
            class="card__img"
            src="assets/images/screens/step-5.jpg"
            alt="Step 5"
            draggable="false"
            loading="lazy"
            width="556"
            height="400"
          )
